* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;

  .app {
    width: 90%;
    margin: auto;
    a {
      text-decoration: none;
    }

    .center {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 2.5vh;
    }

    .search {
      input {
        display: block;
        padding: 10px;
        font-size: 20px;
        border: 0;
        border-radius: 5px;
        width: 60%;
        margin: auto;
        outline: none;
      }
    }

    .cards {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1rem;

      @media (max-width: 843px) {
        .cards {
          grid-template-columns: repeat(2, 1fr);
        }
      }

      @media (max-width: 500px) {
        .cards {
          grid-template-columns: 1fr;
        }
      }
      .card {
        cursor: pointer;

        height: 300px;
      }

      .card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        transition: transform 0.8s;
        transform-style: preserve-3d;

        .card-front,
        .card-back {
          position: absolute;
          width: 100%;
          height: 100%;
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
        }

        .card-front {
          background-color: rgba(255, 255, 0, 0.884);
          display: flex;
          justify-content: center;
          flex-direction: column;
        }

        .card-back {
        }
      }
    }
  }
}

.search {
  height: 100px;
}

.card h1 {
  font-size: 25px;
  border-bottom: 1px #fff solid;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.card p {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  color: black;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-back {
  background-color: black;
  color: white;
  padding: 20px;
  transform: rotateY(180deg);
}

.card li {
  list-style: none;
  padding-bottom: 10px;
}
